<div class="container-fluid">
  <div id="home" class="row align-items-center hero scroll_section">
    <div class="col-lg-3 offset-lg-2">
      <p>Beer X</p>
      <h1>Quienes somos?</h1>
      <p>Somos un
        <em>grupo de amigos</em>
        como vos, que nos reunimos buscando encontrar el sabor de Birra
        perfecto. Te invitamos a conocernos y compartir una reunion mas.</p>
    </div>
  </div>
</div>
<!-- Principal fin-->
<!-- Novedades -->
<div class="cosas">
  <div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
      <h2>Novedades</h2>
      <ul class="lista-novedades">
        <li><a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal1"
          ><img src="/images/novedades01.jpg" />Nuevas recetas</a></li>
        <li><a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          ><img src="/images/novedades01.jpg" />Nos exapndimos</a></li>
        <li><a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
          ><img src="/images/novedades01.jpg" />Nuevos integrantes</a></li>
      </ul>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModal1Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Novedades</h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3>Nueva Birra</h3>
          <p>Nuestros cientificos, se sacrifican dia a dia tomando litros y litros de cerveza para encontrar la receta ideal para sus reuniones. 
            Confiamos en que probaran el nuevo gusto de este mes. Veranillo, una cerveza suabe y refrescante.
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cerrar</button>
          <button type="button" class="btn btn-primary">Mas Novedades</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Novedades</h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3>Seguimos Creciendo</h3>
          <p>Nuevo local en Nordelta, re cheto!!! veni a visitarnos dia de apertura Happy hour <b>TODA LA NOCHE!!</b>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cerrar</button>
          <button type="button" class="btn btn-primary">Mas Novedades</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal3"
    tabindex="-1"
    aria-labelledby="exampleModal3Label"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Novedades</h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3>Nuevos Amigos</h3>
          <p>Y con el nuevo local sumamos nuevos integrantes a nuestra familia, veni a conocerlos!
            si queres formar parte de nuestra familia envianos un cv a CV@beerx.com.ar
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cerrar</button>
          <button type="button" class="btn btn-primary">Mas Novedades</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- Testimonios inicio --}}
  <div class="col-md-3 my-3">
    <div class="rounded py-5 testimonios">
      <h2 class="text-center">Testimonios</h2>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        databs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonio">
              <h5>Ezequiel</h5>
              <p>Mas birrin!!</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonio">
              <h5>Justina</h5>
              <p>Muy buena cerreva artesanal.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonio">
              <h5>Ceci</h5>
              <p>Excelente atencion, ideal para ir con amigos.</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


</div>
   {{!-- Testimonios fin --}}
<!-- Novedades fin-->
<!-- Historia -->
<div id="historia" class="row align-items-center py-4 scroll_section">
  <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
    <img src="/images/historia_1.jpg" alt="historia 1" class="img-fluid" />
  </div>
  <div class="col-lg-2 col-md-3 d-none d-sm-block">
    <img src="/images/historia_2.jpg" alt="historia 2" class="img-fluid" />
  </div>
  <div class="col-12 d-sm-none">
    <img src="/images/historia_3.jpg" alt="historia 3" class="img-fluid" />
  </div>
  <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
    <h2>Historia</h2>
    <p>Y si un dia paso, un grupo de amigos, decidimos hacer realidad lo que tantas noches planificamos entre chopp y chopp, hacer nuestra cerveza. Pero no solo eso, decidimos armar nuestro lugar para compartirla con todos ustedes. Estos sueños llevan años de crecimiento constante gracias a ustedes. Por eso queremos agradecerles.</p>
    <p>La Sexy, El sexy, El birrero y El haker.</p>
  </div>
</div>
<!-- Historia Fin -->
<!-- Nosotros -->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4">
  <div class="col-lg-8 offset-lg-2">
    <h2>Nosotros</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src="/images/nosotros01.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">La Sexy</h5>
            <p class="card-text">Yo manejo todas las redes sociales. Me gusta y por eso ahora me anote en la carrera de comercializacion.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/nosotros02.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">El Sexy</h5>
            <p class="card-text">Soy adicto al gimnasio, los chicos me propucieron hacer cerveza, y luego abrir un bar. Me encanto! El sueño del pibe!!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/nosotros03.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">El birrero</h5>
            <p class="card-text">Siempre me gustaron los sabores, y los olores. desde chico senti que la cocina era mi lugar. Me anoto en todo curso de cocina que encuentro. Hoy me desafio con la Cerveza.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/nosotros04.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">El haker</h5>
            <p class="card-text">Estudie sistemas, las computadoras son mi pasion. Hoy puedo mezclar mi pasion con mi Hobby la cerveza. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Nosotros Fin -->
<!-- Mapa -->

<div id="conocenos" class="row py-4">
  <div class="col-md-4 offset-md-2">
    <h2>Visitanos</h2>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13151.235173120931!2d-58.516921533397884!3d-34.50773142118509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0ee292497e9%3A0xf9a611e58747f528!2sUnicenter!5e0!3m2!1ses-419!2sar!4v1673812052116!5m2!1ses-419!2sar"
      ></iframe>
    </div>
  </div>
  <!-- Mapa Fin -->
  <!-- Contacto -->
  <div class="col-md-4 mt-4 mt-sm-0">
    <h2>Contacto</h2>
    <form class="row g-3" action="/" method="post">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre"/>
      </div>
      <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido"/>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com"/>
      </div>
      <div class="col-12">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Pasame tu celu" />
      </div>
      <div class="col-12">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sumate</button>
      </div>
    </form>
    <p>{{mesagge}}</p>
  </div>
</div>